//Color variables 
$font-family-color:#777;
$headline-color: #58e1c1;
$info-background-color:#927bc1; 
$theme-9-background-color:#e4757a;
$default-background-color:#51ddfc;
$button-color: #51ddfc;

//Media Query Variable
$min-width: 768px;