@import '../utilities/variables','../utilities/mixins';
/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;

    @include media{
      @include base-display;
      max-width: 1400px;
    }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;

    @include media{
      flex-direction: row;
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;

    @include media{
      display: flex;
      justify-content: center;
      margin: 0 auto ;
      align-items: center;
    }
  }
  
  [class^=col] + [class^=col] {
    @include media{
      margin-left: 10px;
      }
  }

  @for $x from 1 through 12{
    @include media{
      .col-#{$x}{
        flex-basis: (($x/12)*100%);
      }
    }
  }
  .theme.col-1 {
    background-color: $info-background-color;
  }
  
  .theme.col-2 {
    background-color: #fd7856;
  }
  
  .theme.col-3 {
    background-color: #deb2ee;
  }
  
  .theme.col-4 {
    background-color: #7ee6fd;
  }
  
  .theme.col-5 {
    background-color: #88d9a0;
  }
  
  .theme.col-6 {
    background-color: #4da2bb;
  }
  
  .theme.col-7 {
    background-color: #ec9fa3;
  }
  
  .theme.col-8 {
    background-color: #fd9f85;
  }
  
  .theme.col-9 {
    background-color: $theme-9-background-color;
  }
  
  .theme.col-10 {
    background-color: #63cc82;
  }
  
  .theme.col-11 {
    background-color: $default-background-color;
  }
  
  .theme.col-12 {
    background-color: #80e8d1;
  }
  .card {
    flex-basis: 100%;
  }